nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

#register_form .form-control, #login_form .form-control, #search_by_options .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


/* New CSS below this point */

.inputs {
    min-width: 200px;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}
#search_btn {
    display: flex;
}
#search_options {
    align-self: right;
}


#search_by_text {
    float: left;
}
#search_by_radio {
    float: right;
}

/* Style delete_note button used in note.html */
#delete_note_form .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 4px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    float: left;
    margin-left: 3px;
    margin-bottom: 3px;
}
/* Darker background on mouse-hover used in note.html */
#delete_note_form .btn:hover {
    background-color: RoyalBlue;
}

.flex-container >div {
    min-width: 260px;
    width: 32%;
    background-color: #fcfccf;
    margin-bottom: 1%;
    margin-right: 1%;
    padding-top: 2%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#all_notes_flex textarea {
    background-color: #fcfccf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    border-width:0px;
    border:none;
    box-shadow:none;
    outline: none;
    overflow:hidden;
}
.notice {
    font-weight: 400;
    font-size: larger;
    width: 100%;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Centralize and make text bolder of the error message in error.html */
#error_message {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}